.welcome {
  @apply h-[97vh] bg-cover bg-center
    bg-welcome-img bg-fixed
    text-center;

  .welcome-gradient {
    background: linear-gradient(180deg, #150f28 0%, rgba(21, 15, 40, 0) 157.3%);

    @apply h-full bg-opacity-50;
  }

  .welcome-text {
    @apply max-w-[600px] h-full mx-auto grid place-content-center pb-32;

    .welcome-title {
      @apply font-bold relative  w-fit mx-auto 
        text-3xl
      sm:text-5xl
      md:text-6xl;

      span {
        @apply leading-normal;
      }

      img {
        @apply absolute
        -bottom-4 -right-14 scale-[55%]
        sm:-bottom-1 sm:-right-4 sm:scale-[85%]
        md:bottom-1 md:right-1 md:scale-[105%];
      }
    }

    p {
      @apply py-10 px-10 sm:px-7 font-light
      text-base max-w-md 
      sm:max-w-none
      sm:text-lg;
    }
    button {
      @apply mx-auto 
      px-10 py-2
      sm:px-12 sm:py-3;
    }
  }
}
