.cntct-us-base {
  @apply bg-cntct-us-img bg-cover bg-center;

  .gradient {
    background: linear-gradient(90deg, #150f28 0%, rgba(21, 15, 40, 0) 142.77%);
  }

  .cntct-us {
    @apply grid px-2
    grid-cols-1
    lg:grid-cols-2
    py-16
    sm:py-24
    md:py-36;
    .cntct-us-smry {
      @apply bg-transparent;

      span {
        @apply text-honey font-bold 
          text-2xl
          sm:text-3xl
          md:text-4xl;
      }

      h1 {
        @apply font-bold py-4 leading-snug lg:pt-6
          text-4xl
          sm:text-5xl
          lg:text-6xl;
      }
      p {
        @apply font-light 
          opacity-70
          pt-4 md:pt-6 pb-8 md:pb-10 
          leading-snug
          text-xl
          sm:max-w-2xl
          md:text-2xl;
      }
    }

    .inputs {
      @apply py-2  
      sm:max-w-md;

      .input {
        @apply grid grid-cols-1 pb-6;

        .error-msg {
          @apply text-[#faa];
        }

        label {
          @apply pb-2 flex;
          svg {
            @apply w-4 h-6 mx-2;
          }
        }

        textarea {
          @apply min-h-[160px] rounded-br-none;
        }

        input,
        textarea {
          @apply rounded-md
          bg-latte/75
            backdrop-blur-2xl
          outline-none
            border-[2px] border-transparent 
            p-2
            text-royal
            placeholder:text-royal/50
            focus-visible:border-honey
            focus-visible:bg-latte/90;
        }
      }
      .btn {
        @apply w-full  mx-0;
      }
    }
  }
}
