.clnt-stry {
  @apply container mx-auto relative px-2

  pt-16
  pb-16;

  .clnt-stry-smry {
    @apply pb-4;
    span {
      @apply text-honey font-bold 
        text-2xl
        sm:text-3xl
        md:text-4xl;
    }

    h2 {
      @apply font-bold py-4 leading-snug
          text-3xl
          sm:text-5xl
          md:text-6xl;
    }
  }

  .slideshow {
    @apply 2xl:mx-[90px];
    .stories {
      .story-card {
        @apply max-w-none mx-auto p-2 relative;

        .img {
          @apply w-[72px] h-[72px] bg-cover bg-center
          rounded-full border-white border-4
          relative
          top-0 left-1/2 -translate-x-1/2 translate-y-1/2
          scale-125;
        }
        .texts {
          @apply bg-white text-royal 
          text-center rounded-md p-4 h-[210px];

          h3 {
            @apply pt-12 
            font-bold text-lg;
          }
          p {
            @apply text-xs sm:px-2;
          }

          .stars {
            @apply flex justify-center text-royal/50 gap-x-2 py-2;

            svg {
              @apply w-5 h-5;
            }
            &.star-1 {
              & > svg:nth-child(-n + 1) {
                @apply text-honey;
              }
            }
            &.star-2 {
              & > svg:nth-child(-n + 2) {
                @apply text-honey;
              }
            }
            &.star-3 {
              & > svg:nth-child(-n + 3) {
                @apply text-honey;
              }
            }
            &.star-4 {
              & > svg:nth-child(-n + 4) {
                @apply text-honey;
              }
            }
            &.star-5 {
              & > svg {
                @apply text-honey;
              }
            }
          }
        }
      }
    }

    .slider-btns {
      @apply w-fit mx-auto pt-5;
      .left,
      .right {
        @apply transition-all duration-150 rounded-full
         bg-latte/10 
         hover:bg-latte/20 hover:scale-105
          active:bg-honey/30 active:scale-95
         p-2 mx-2;

        svg {
          @apply w-6 h-6;
        }
      }
    }

    .slick-dots {
      @apply absolute w-[250px] 

      w-full
      lg:w-[300px]
      xl:w-[500px]
      pt-0
      flex
      justify-between
      h-fit
      -top-2
      
      lg:right-0
      2xl:right-0
      lg:-top-36;

      .line {
        @apply h-1 my-2 rounded
          w-[55%]
          sm:w-[75%]
          lg:w-[45%]
          xl:w-[65%]
         bg-white;
      }
    }

    ul.btns {
      @apply block static;
      li {
        @apply border-transparent rounded-full
          mx-0.5
          w-5 h-5
          md:w-6 md:h-6
          border-[3px]
          md:border-4;

        .btn {
          @apply w-full h-full 
            transition-all duration-150 
            bg-white rounded-full hover:opacity-70
            border-transparent
  
            border-[3px]
            md:border-4;
        }

        &.slick-active {
          @apply border-honey;
          .btn {
            @apply bg-transparent;
          }
        }
      }
    }
  }
}
